/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

blockquote {
  border: 3px solid #cccccc;
  border-radius: 15px;
  padding: 5px 10px;
  font-size: 150%;
  font-weight: 500;
  color: black;
}

blockquote footer:before {
  content: '-'
}

blockquote footer {
  font-size: 75%;
  font-weight: normal;
  color: #55aaaa;
}

input {
  width: 300px;
  height: 30px;
  border-radius: 7px;
  font-size: 24px;
  border: 2px solid gray;
}

input[type=submit] {
  font-size: 18px;
}
